[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
pillow = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
