<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/orderProcessing.css">
    <link rel="stylesheet" href="/static/css/sections.css">
    <style>
        .bookItem {
            border-bottom: 1px solid #808080;
        }
    </style>
</head>

<body>
    <div id="loader" style="position:absolute; top:50%; left: 50%; transform: translate(-50%,-50%);">
        <img src="/static/images/load-gif.gif" alt="" width="150">
    </div>
    <div id="rootElement">

    </div>
    <script type="module" src="/static/js/api handling/constructGenrePage.js"></script>
</body>

</html>