<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/orderProcessing.css">
</head>

<body>
    <div class="mobileSidebar">
        <div class="top_section_sidebar">
            <div class="userInfo">
                <div class="imgbox4">
                    <a href="#"><img src="images/professor.jpg" alt=""></a>
                </div>
                <h3>Sergio Marquina</h3>

            </div>
            <div class="cross">
                <i class="fa fa-close "></i>
            </div>
        </div>
        <hr>
        <ul class="sidebarList">
            <li><a href=""><i class="fa fa-bar-chart"></i> Stats</a></li>
            <li><a href=""><i class="fa fa-bookmark"></i> Bookmarked</a></li>
            <li><a href=""><i class="fa fa-file"></i> Drafts</a></li>
            <li><a href=""><i class="fa fa-plus"></i> Add Topics</a></li>
        </ul>
        <hr>
        <ul class="sidebarList">
            <li><a href=""><i class="fa fa-user"></i> Accounts</a></li>
            <li><a href=""><i class="fa fa-lock"></i> Privacy</a></li>
        </ul>
        <hr>
        <ul class="sidebarList">
            <li><a href=""><i class="fa fa-lightbulb-o"></i> Change mode</a></li>
            <li><a href=""><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
    </div>
    <div class="contentWrapper">
        <div class="fixedPosition">
            <div class="topBar">
                <a href="#" class="sidebarToggler"><i class="fa fa-bars"
                        style="font-size: 20px; font-weight: 100;"></i></a>
                <div class="searchBar">
                    <h3>Genres</h3>
                </div>
                <a href="index.html" class="backBtn"><i class="fa fa-angle-left"
                        style="font-size: 20px; font-weight: 100;"></i></a>
            </div>
        </div>
       <div class="shapesHeading">
           <h5>Most Popular Genres</h5>
       </div>
        <div class="genresContainer">
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book10.jfif" alt=""></a>
                </div>
                <a href="#" class="genreName">Action</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book11.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Adventure</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book17.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Young Adult</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book13.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Detective</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book21.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Mythology</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book14.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Science Fiction</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book15.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Fantasy</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book16.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Mystery</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book7.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Self Help</a>
            </div>

        </div>
        <div class="shapesHeading">
            <h5>Acaedmic</h5>
        </div>
        <div class="genresContainer">
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book24.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">History</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book20.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Historical Fiction</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book19.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Physics</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book18.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Mathematics</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book23.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Science</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book22.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Geography</a>
            </div>
            
        </div>
        <div class="shapesHeading">
            <h5>others</h5>
        </div>
        <div class="genresContainer">
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book25.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Paranormal</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book26.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Crime Thriller</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book29.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Humour</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book28.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Romance</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book5.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Pyschology</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book31.webp" alt=""></a>
                </div>
                <a href="#" class="genreName">Sports</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book30.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Cooking</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book6.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Business</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book27.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Music</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book32.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Religion</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book33.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Manga</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="#"><img src="images/book34.jpg" alt=""></a>
                </div>
                <a href="#" class="genreName">Others...</a>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>