<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/orderProcessing.css">
</head>

<body>
    <div class="contentWrapper">
        <div class="fixedPosition">
            <div class="topBar">
                <a href="javascript: void(0)" class="sidebarToggler"><i class="fa fa-film"
                        style="font-size: 20px; font-weight: 100;"></i></a>
                <div class="searchBar">
                    <h3>Genres</h3>
                </div>
                <a href="/" class="backBtn"><i class="fa fa-angle-left"
                        style="font-size: 20px; font-weight: 100;"></i></a>
            </div>
        </div>
       <div class="shapesHeading">
           <h5>Most Popular Genres</h5>
       </div>
        <div class="genresContainer">
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Action/books"><img src="/static/images/book10.jfif" alt=""></a>
                </div>
                <a href="/genre/Action/books" class="genreName">Action</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Adventure/books"><img src="/static/images/book11.jpg" alt=""></a>
                </div>
                <a href="/genre/Adventure/books" class="genreName">Adventure</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Young Adult/books"><img src="/static/images/book17.jpg" alt=""></a>
                </div>
                <a href="/genre/Young Adult/books" class="genreName">Young Adult</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Detective/books"><img src="/static/images/book13.jpg" alt=""></a>
                </div>
                <a href="/genre/Detective/books" class="genreName">Detective</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Mythology/books"><img src="/static/images/book21.jpg" alt=""></a>
                </div>
                <a href="/genre/Mythology/books" class="genreName">Mythology</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Science Fiction/books"><img src="/static/images/book14.jpg" alt=""></a>
                </div>
                <a href="/genre/Science Fiction/books" class="genreName">Science Fiction</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Fantasy/books"><img src="/static/images/book15.jpg" alt=""></a>
                </div>
                <a href="/genre/Fantasy/books" class="genreName">Fantasy</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Mystery/books"><img src="/static/images/book16.jpg" alt=""></a>
                </div>
                <a href="/genre/Mystery/books" class="genreName">Mystery</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Self Help/books"><img src="/static/images/book7.jpg" alt=""></a>
                </div>
                <a href="/genre/Self Help/books" class="genreName">Self Help</a>
            </div>

        </div>
        <div class="shapesHeading">
            <h5>Academic</h5>
        </div>
        <div class="genresContainer">
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/History/books"><img src="/static/images/book24.jpg" alt=""></a>
                </div>
                <a href="/genre/History/books" class="genreName">History</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Historical Fiction/books"><img src="/static/images/book20.jpg" alt=""></a>
                </div>
                <a href="/genre/Historical Fiction/books" class="genreName">Historical Fiction</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Physics/books"><img src="/static/images/book19.jpg" alt=""></a>
                </div>
                <a href="/genre/Physics/books" class="genreName">Physics</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Mathematics/books"><img src="/static/images/book18.jpg" alt=""></a>
                </div>
                <a href="/genre/Mathematics/books" class="genreName">Mathematics</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Science/books"><img src="/static/images/book23.jpg" alt=""></a>
                </div>
                <a href="/genre/Science/books" class="genreName">Science</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Geography/books"><img src="/static/images/book22.jpg" alt=""></a>
                </div>
                <a href="/genre/Geography/books" class="genreName">Geography</a>
            </div>

        </div>
        <div class="shapesHeading">
            <h5>More</h5>
        </div>
        <div class="genresContainer">
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Paranormal/books"><img src="/static/images/book25.jpg" alt=""></a>
                </div>
                <a href="/genre/Paranormal/books" class="genreName">Paranormal</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Crime Thriller/books"><img src="/static/images/book26.jpg" alt=""></a>
                </div>
                <a href="/genre/Crime Thriller/books" class="genreName">Crime Thriller</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Humour/books"><img src="/static/images/book29.jpg" alt=""></a>
                </div>
                <a href="/genre/Humour/books" class="genreName">Humour</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Romance/books"><img src="/static/images/book28.jpg" alt=""></a>
                </div>
                <a href="/genre/Romance/books" class="genreName">Romance</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Psychology/books"><img src="/static/images/book5.jpg" alt=""></a>
                </div>
                <a href="/genre/Psychology/books" class="genreName">Psychology</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Sports/books"><img src="/static/images/book31.webp" alt=""></a>
                </div>
                <a href="/genre/Sports/books" class="genreName">Sports</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Cooking/books"><img src="/static/images/book30.jpg" alt=""></a>
                </div>
                <a href="/genre/Cooking/books" class="genreName">Cooking</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Business/books"><img src="/static/images/book6.jpg" alt=""></a>
                </div>
                <a href="/genre/Business/books" class="genreName">Business</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Music/books"><img src="/static/images/book27.jpg" alt=""></a>
                </div>
                <a href="/genre/Music/books" class="genreName">Music</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Religion/books"><img src="/static/images/book32.jpg" alt=""></a>
                </div>
                <a href="/genre/Religion/books" class="genreName">Religion</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Manga/books"><img src="/static/images/book33.jpg" alt=""></a>
                </div>
                <a href="/genre/Manga/books" class="genreName">Manga</a>
            </div>
            <div class="boxGenre">
                <div class="genreImgHolder">
                    <a href="/genre/Others/books"><img src="/static/images/book34.jpg" alt=""></a>
                </div>
                <a href="/genre/Others/books" class="genreName">Others...</a>
            </div>
        </div>
    </div>
</body>

</html>