<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login !</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/orderProcessing.css">
    <link rel="stylesheet" href="../static/css/signup.css">
</head>


<body>
  
    <div class="fixedPosition">
        <div class="topBar">
            <a href="#" class="sidebarToggler"><i class="fa fa-sign-in" style="font-size: 20px; font-weight: 100;"></i></a>
            <div class="searchBar">
                <h3>Login</h3>
            </div>
            <a href="/" class="backBtn"><i class="fa fa-angle-left"
                                                                 style="font-size: 20px; font-weight: 100;"></i></a>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 0px;">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                   
                    <form id="msform">
                        <!-- progressbar -->
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                        </div> <br> 
                       <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="fs-title">Login to the world of knowledge</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" style="margin-left: 18px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                    <h6 id="message" style="color: rgb(243, 51, 51);"></h6>
                                    </div>
                                </div>
                                 <label class="fieldlabels">Username :</label> <input
                                type="text" name="uname" placeholder="UserName" id="username" class="loginField" /> <label
                                class="fieldlabels">Password :</label> <input type="password" name="pwd"
                                placeholder="Password" id="password"class="loginField"  autocomplete="on"/> 
                        </div> <input type="button" name="Login" class="next action-button" id="loginBtn" value="Login" />
                        </fieldset>
                    
                       
                    </form>
                </div>
            </div>
        </div>
        
        <p>Don't have an Account ?<a href="/signup"> Create one !</a></p>
    </div>
    <script src="../static/js/login.js" type="module"></script>
  
</body>

</html>