<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup !</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/orderProcessing.css">
    <link rel="stylesheet" href="../static/css/signup.css">
</head>

<body>
    <div class="fixedPosition">
        <div class="topBar">
            <a href="#" class="sidebarToggler"><i class="fa fa-user" style="font-size: 20px; font-weight: 100;"></i></a>
            <div class="searchBar">
                <h3>Sign-up</h3>
            </div>
            <a href="../Bookstore/index.html" class="backBtn"><i class="fa fa-angle-left"
                                                                 style="font-size: 20px; font-weight: 100;"></i></a>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 0px;">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <form id="msform">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li id="personal" class="active"><strong>Personal</strong></li>
                            <li id="account"><strong>Account</strong></li>
                            <li id="payment"><strong>Genres</strong></li>
                            <li id="confirm"><strong>Login</strong></li>
                        </ul>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> <br> <!-- fieldsets -->
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Personal Information</h2>

                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 1 - 4</h2>
                                    </div>
                                </div>
                                <label class="fieldlabels">First Name : *</label> <input type="text" name="fname"
                                    placeholder="First Name" class="sectionFirst" /> <label class="fieldlabels">Last
                                    Name : *</label> <input type="text" class="sectionFirst" name="lname"
                                    placeholder="Last Name" /> <label class="fieldlabels">Contact No : *</label> <input
                                    type="number" name="phno" placeholder="Contact No." class="sectionFirst"
                                    id="contact" /> <label class="fieldlabels">Delivery Address : * (Min 30 characters)
                                </label> <input type="text" class="sectionFirst" id="address" name="address"
                                    placeholder="Delivery Address" />
                            </div> <input type="button" name="next" class="next action-button" id="sectionFirstBtn"
                                value="Next" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-6">
                                        <h2 class="fs-title">Account Info</h2>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="steps">Step 2 - 4</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h6 id="message" style="color: rgb(243, 51, 51);"></h6>
                                    </div>
                                </div>
                                <label class="fieldlabels">Email: *</label> <input type="email" name="email"
                                    placeholder="Email Id" id="email" class="sectionSecond" /> <label
                                    class="fieldlabels">Username: * (Min 6 Characters Long)</label> <input type="text"
                                    name="uname" placeholder="UserName" id="username" class="sectionSecond" /> <label
                                    class="fieldlabels">Password: * (Min 8 charcters)</label> <input type="password"
                                    name="pwd" placeholder="Password" id="password" class="sectionSecond"
                                    autocomplete="on" /> <label class="fieldlabels">Confirm Password: *</label>
                                <input type="password" class="sectionSecond" id="confirmPassword" name="cpwd"
                                    placeholder="Confirm Password" autocomplete="on" />
                            </div> <input type="button" name="next" class="next action-button" id="sectionSecondBtn"
                                value="Next" /><input type="button" name="previous"
                                class="previous action-button-previous" value="Previous" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-6">
                                        <h2 class="fs-title">Pick Genres</h2>
                                    </div>
                                    <div class="col-6">
                                        <h2 class="steps">Step 3 - 4</h2>
                                    </div>
                                </div>
                                <div class="pillsContainer">
                                    <p class="pill signupGenre">Action</p>
                                    <p class="pill signupGenre">Adventure</p>
                                    <p class="pill signupGenre">Business</p>
                                    <p class="pill signupGenre">Crime Thriller</p>
                                    <p class="pill signupGenre">Cooking</p>
                                    <p class="pill signupGenre">Detective</p>
                                    <p class="pill signupGenre">Fantasy</p>
                                    <p class="pill signupGenre">Geography</p>
                                    <p class="pill signupGenre">Humour</p>
                                    <p class="pill signupGenre">Historical Fiction</p>
                                    <p class="pill signupGenre">History</p>
                                    <p class="pill signupGenre">Music</p>
                                    <p class="pill signupGenre">Mathematics</p>
                                    <p class="pill signupGenre">Mystery</p>
                                    <p class="pill signupGenre">Manga</p>
                                    <p class="pill signupGenre">Mythology</p>
                                    <p class="pill signupGenre">Paranormal</p>
                                    <p class="pill signupGenre">Physics</p>
                                    <p class="pill signupGenre">Pyschology</p>
                                    <p class="pill signupGenre">Romance</p>
                                    <p class="pill signupGenre">Religion</p>
                                    <p class="pill signupGenre">Sports</p>
                                    <p class="pill signupGenre">Science</p>
                                    <p class="pill signupGenre">Science Fiction</p>
                                    <p class="pill signupGenre">Self Help</p>
                                    <p class="pill signupGenre">Young Adult</p>
                                    <p class="pill signupGenre">Other</p>
                                </div>
                            </div> <input type="button" name="next" class="next action-button submit" value="Submit" />
                            <input type="button" name="previous" class="previous action-button-previous"
                                value="Previous" />
                        </fieldset>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 4</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <!-- <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> -->
                                </div>
                            </div> <br><br>

                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center" id="timer"></h5>
                                </div>
                            </div>
                </div>
                </fieldset>
                <p>Already have an Account ? <a href="login.html">Login now !</a> </p>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/api%20handling/constructSection.js" type="module"></script>
    <script src="/static/js/signup.js" type="module"></script>

</body>

</html>